.yellowText{
    color:#FF8A00;
}
.footer{
    margin: 2rem 5rem;
}
.card {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem; 
    background-color:#380030;  
    border-radius: 1rem; 
}
.card > div:first-child{
    width: 40%;
    color: #a98fa4;
}
.card > div:first-child ~ div > h3{
    color: #FF8A00;
    list-style: none;
}
.line{
    background-color: #FF8A00;
    height: 1px;
    width: 40%;
    margin: .6rem 0;
}
.line + ul{
    list-style: none;
    color: #a98fa4;
}
.line + ul li{
    cursor: pointer;
}
.footer > p{
    margin-top: 1rem;
    text-align: center;
}