@media screen and (max-width: 480px) {
  .left{
    display: none;
  }
  .right{
    width: 100%;
  }
  .keepMeLoginSection{
    flex-direction: column;
  }
  .keepMeLoginText{
    width: 100%;
    text-align: start;
  }
  .formPadding{
    padding: 1rem;
  }
  .logo{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }
  .container{
    margin: 0 0rem;
  }
  .nameSignup{
    flex-direction: column;
  }
}
